
<% image = @cocktail.image.attached? ? @cocktail.image.key : image_path('walama.gif') %>
<div class="big-cocktail-card">
  <div class="cocktail-description">
    <h3><%= @cocktail.name %></h3>
    <p>Ingredients: </p>
    <ul>
      <% @cocktail.doses.all.each do |dose| %>
        <% quantity = dose.description %>
        <% ingredient = dose.ingredient.name %>
        <li><%= "#{quantity} #{ingredient}" %></li>
      <% end %>
    </ul>
  </div>
  <%= cl_image_tag image, width: 300, height: 300 %>
</div>
<div id="big-cocktail-card-edit-btn">
  <%= link_to('modify doses', edit_cocktail_path(@cocktail)) %>
</div>

